<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="/var/www/html/tests/phpunit.xml" tests="77" assertions="176" errors="0" failures="0" skipped="0" time="1.046596">
    <testsuite name="Unit Tests" tests="77" assertions="176" errors="0" failures="0" skipped="0" time="1.046596">
      <testsuite name="Unit\Controllers\FacilityControllerTest" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" tests="20" assertions="29" errors="0" failures="0" skipped="0" time="0.737948">
        <testcase name="testCreateFacilityMethodNotAllowed" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="39" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.518290"/>
        <testcase name="testCreateFacilityBadRequest" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="47" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.021291"/>
        <testcase name="testCreateFacilityThrowsException" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="56" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.014870"/>
        <testcase name="testCreateFacilitySuccess" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="72" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="3" time="0.060249"/>
        <testcase name="testReadFacilityMethodNotAllowed" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="97" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006887"/>
        <testcase name="testReadFacilityThrowsException" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="105" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006782"/>
        <testcase name="testReadFacilitySuccess" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="118" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="3" time="0.006762"/>
        <testcase name="testReadFacilitiesMethodNotAllowed" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="140" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006042"/>
        <testcase name="testReadFacilitiesThrowsException" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="148" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.008774"/>
        <testcase name="testReadFacilitiesSuccess" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="161" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="3" time="0.006449"/>
        <testcase name="testUpdateFacilityMethodNotAllowed" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="191" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.012465"/>
        <testcase name="testUpdateFacilityBadRequest" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="199" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006522"/>
        <testcase name="testUpdateFacilityNotFound" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="209" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="2" time="0.006299"/>
        <testcase name="testUpdateFacilityThrowsException" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="225" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006160"/>
        <testcase name="testUpdateFacilitySuccess" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="241" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="3" time="0.006091"/>
        <testcase name="testDeleteFacilityMethodNotAllowed" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="266" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.007117"/>
        <testcase name="testDeleteFacilityNotFound" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="274" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006386"/>
        <testcase name="testDeleteFacilityThrowsException" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="285" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006361"/>
        <testcase name="testDeleteFacilitySuccess" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="298" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.006016"/>
        <testcase name="testSetFacilityServiceForTests" file="/var/www/html/tests/Unit/Controllers/FacilityControllerTest.php" line="314" class="Unit\Controllers\FacilityControllerTest" classname="Unit.Controllers.FacilityControllerTest" assertions="1" time="0.018135"/>
      </testsuite>
      <testsuite name="Unit\Models\FacilityTest" file="/var/www/html/tests/Unit/Models/FacilityTest.php" tests="6" assertions="9" errors="0" failures="0" skipped="0" time="0.012820">
        <testcase name="testSetAndGetId" file="/var/www/html/tests/Unit/Models/FacilityTest.php" line="20" class="Unit\Models\FacilityTest" classname="Unit.Models.FacilityTest" assertions="1" time="0.000095"/>
        <testcase name="testSetAndGetName" file="/var/www/html/tests/Unit/Models/FacilityTest.php" line="27" class="Unit\Models\FacilityTest" classname="Unit.Models.FacilityTest" assertions="1" time="0.000074"/>
        <testcase name="testSetAndGetCreationDate" file="/var/www/html/tests/Unit/Models/FacilityTest.php" line="34" class="Unit\Models\FacilityTest" classname="Unit.Models.FacilityTest" assertions="1" time="0.000057"/>
        <testcase name="testSetAndGetLocation" file="/var/www/html/tests/Unit/Models/FacilityTest.php" line="41" class="Unit\Models\FacilityTest" classname="Unit.Models.FacilityTest" assertions="1" time="0.006790"/>
        <testcase name="testSetAndGetTags" file="/var/www/html/tests/Unit/Models/FacilityTest.php" line="48" class="Unit\Models\FacilityTest" classname="Unit.Models.FacilityTest" assertions="1" time="0.005594"/>
        <testcase name="testJsonSerialize" file="/var/www/html/tests/Unit/Models/FacilityTest.php" line="58" class="Unit\Models\FacilityTest" classname="Unit.Models.FacilityTest" assertions="4" time="0.000209"/>
      </testsuite>
      <testsuite name="Unit\Models\LocationTest" file="/var/www/html/tests/Unit/Models/LocationTest.php" tests="7" assertions="7" errors="0" failures="0" skipped="0" time="0.000433">
        <testcase name="testSetAndGetId" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="17" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000074"/>
        <testcase name="testSetAndGetCity" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="24" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000058"/>
        <testcase name="testSetAndGetAddress" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="31" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000055"/>
        <testcase name="testSetAndGetZipCode" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="38" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000052"/>
        <testcase name="testSetAndGetCountryCode" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="45" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000054"/>
        <testcase name="testSetAndGetPhoneNumber" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="52" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000052"/>
        <testcase name="testJsonSerialize" file="/var/www/html/tests/Unit/Models/LocationTest.php" line="59" class="Unit\Models\LocationTest" classname="Unit.Models.LocationTest" assertions="1" time="0.000088"/>
      </testsuite>
      <testsuite name="Unit\Models\TagTest" file="/var/www/html/tests/Unit/Models/TagTest.php" tests="3" assertions="3" errors="0" failures="0" skipped="0" time="0.000180">
        <testcase name="testSetAndGetId" file="/var/www/html/tests/Unit/Models/TagTest.php" line="16" class="Unit\Models\TagTest" classname="Unit.Models.TagTest" assertions="1" time="0.000057"/>
        <testcase name="testSetAndGetName" file="/var/www/html/tests/Unit/Models/TagTest.php" line="23" class="Unit\Models\TagTest" classname="Unit.Models.TagTest" assertions="1" time="0.000056"/>
        <testcase name="testJsonSerializeReturnsExpectedArray" file="/var/www/html/tests/Unit/Models/TagTest.php" line="30" class="Unit\Models\TagTest" classname="Unit.Models.TagTest" assertions="1" time="0.000067"/>
      </testsuite>
      <testsuite name="Unit\Repositories\FacilityRepositoryTest" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" tests="14" assertions="29" errors="0" failures="0" skipped="0" time="0.168308">
        <testcase name="testCreateFacilityReturnsLastInsertId" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="36" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="4" time="0.042588"/>
        <testcase name="testCreateFacilityReturnsNullOnException" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="65" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="1" time="0.011467"/>
        <testcase name="testFindFacilityByFacilityIdReturnsFacilityObject" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="73" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="2" time="0.002550"/>
        <testcase name="testFindFacilityByFacilityIdReturnsNullOnException" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="84" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="1" time="0.002220"/>
        <testcase name="testFindFacilitiesByFilterReturnsArrayOfFacilities" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="92" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="3" time="0.035204"/>
        <testcase name="testFindFacilitiesByFilterReturnsEmptyArrayOnException" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="108" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="2" time="0.009552"/>
        <testcase name="testUpdateFacilityExecutesSuccessfully" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="117" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="5" time="0.011174"/>
        <testcase name="testUpdateFacilityThrowsExceptionOnFailure" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="145" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="2" time="0.033182"/>
        <testcase name="testDeleteFacilityReturnsTrueWhenDeleted" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="155" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="2" time="0.002677"/>
        <testcase name="testDeleteFacilityReturnsFalseWhenNothingDeleted" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="165" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="1" time="0.008034"/>
        <testcase name="testDeleteFacilityThrowsExceptionOnError" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="174" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="2" time="0.002416"/>
        <testcase name="testFacilityExistsReturnsTrueWhenCountGreaterThanZero" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="184" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="2" time="0.002543"/>
        <testcase name="testFacilityExistsReturnsFalseWhenCountZero" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="194" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="1" time="0.002298"/>
        <testcase name="testFacilityExistsReturnsFalseOnException" file="/var/www/html/tests/Unit/Repositories/FacilityRepositoryTest.php" line="203" class="Unit\Repositories\FacilityRepositoryTest" classname="Unit.Repositories.FacilityRepositoryTest" assertions="1" time="0.002404"/>
      </testsuite>
      <testsuite name="Unit\Repositories\LocationRepositoryTest" file="/var/www/html/tests/Unit/Repositories/LocationRepositoryTest.php" tests="4" assertions="14" errors="0" failures="0" skipped="0" time="0.016783">
        <testcase name="testFindLocationByFacilityIdReturnsLocation" file="/var/www/html/tests/Unit/Repositories/LocationRepositoryTest.php" line="35" class="Unit\Repositories\LocationRepositoryTest" classname="Unit.Repositories.LocationRepositoryTest" assertions="2" time="0.002971"/>
        <testcase name="testFindLocationByFacilityIdReturnsNullOnException" file="/var/www/html/tests/Unit/Repositories/LocationRepositoryTest.php" line="57" class="Unit\Repositories\LocationRepositoryTest" classname="Unit.Repositories.LocationRepositoryTest" assertions="1" time="0.002426"/>
        <testcase name="testFindLocationsByFacilityIdsReturnsLocationsArray" file="/var/www/html/tests/Unit/Repositories/LocationRepositoryTest.php" line="66" class="Unit\Repositories\LocationRepositoryTest" classname="Unit.Repositories.LocationRepositoryTest" assertions="9" time="0.008451"/>
        <testcase name="testFindLocationsByFacilityIdsReturnsEmptyArrayOnException" file="/var/www/html/tests/Unit/Repositories/LocationRepositoryTest.php" line="113" class="Unit\Repositories\LocationRepositoryTest" classname="Unit.Repositories.LocationRepositoryTest" assertions="2" time="0.002936"/>
      </testsuite>
      <testsuite name="Unit\Repositories\TagRepositoryTest" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" tests="6" assertions="23" errors="0" failures="0" skipped="0" time="0.015638">
        <testcase name="testFindTagIdsByNameReturnsCorrectMapping" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" line="35" class="Unit\Repositories\TagRepositoryTest" classname="Unit.Repositories.TagRepositoryTest" assertions="2" time="0.002509"/>
        <testcase name="testFindTagsByFacilityIdReturnsTagsArray" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" line="54" class="Unit\Repositories\TagRepositoryTest" classname="Unit.Repositories.TagRepositoryTest" assertions="2" time="0.002598"/>
        <testcase name="testFindTagsByFacilityIdsReturnsMappedTags" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" line="71" class="Unit\Repositories\TagRepositoryTest" classname="Unit.Repositories.TagRepositoryTest" assertions="8" time="0.002869"/>
        <testcase name="testCreateTagReturnsLastInsertId" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" line="99" class="Unit\Repositories\TagRepositoryTest" classname="Unit.Repositories.TagRepositoryTest" assertions="3" time="0.002427"/>
        <testcase name="testCreateFacilityTagsExecutesSuccessfully" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" line="113" class="Unit\Repositories\TagRepositoryTest" classname="Unit.Repositories.TagRepositoryTest" assertions="6" time="0.002238"/>
        <testcase name="testDeleteFacilityTagsByFacilityExecutesSuccessfully" file="/var/www/html/tests/Unit/Repositories/TagRepositoryTest.php" line="141" class="Unit\Repositories\TagRepositoryTest" classname="Unit.Repositories.TagRepositoryTest" assertions="2" time="0.002997"/>
      </testsuite>
      <testsuite name="Unit\Services\FacilityServiceTest" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" tests="8" assertions="27" errors="0" failures="0" skipped="0" time="0.051688">
        <testcase name="testCreateFacilitySuccessWithoutTags" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="48" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="4" time="0.007177"/>
        <testcase name="testCreateFacilitySuccessWithTags" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="82" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="3" time="0.006673"/>
        <testcase name="testReadFacilitySuccess" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="118" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="4" time="0.006116"/>
        <testcase name="testReadFacilityNotFound" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="150" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="3" time="0.006609"/>
        <testcase name="testReadFacilitiesWithFilters" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="165" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="6" time="0.006850"/>
        <testcase name="testUpdateFacilitySuccess" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="208" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="3" time="0.005769"/>
        <testcase name="testUpdateFacilityNotFound" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="241" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="2" time="0.006087"/>
        <testcase name="testDeleteFacilitySuccess" file="/var/www/html/tests/Unit/Services/FacilityServiceTest.php" line="255" class="Unit\Services\FacilityServiceTest" classname="Unit.Services.FacilityServiceTest" assertions="2" time="0.006406"/>
      </testsuite>
      <testsuite name="Unit\Services\LocationServiceTest" file="/var/www/html/tests/Unit/Services/LocationServiceTest.php" tests="3" assertions="13" errors="0" failures="0" skipped="0" time="0.006745">
        <testcase name="testFindLocationByFacilityId" file="/var/www/html/tests/Unit/Services/LocationServiceTest.php" line="31" class="Unit\Services\LocationServiceTest" classname="Unit.Services.LocationServiceTest" assertions="3" time="0.002296"/>
        <testcase name="testFindLocationsByFacilityIds" file="/var/www/html/tests/Unit/Services/LocationServiceTest.php" line="47" class="Unit\Services\LocationServiceTest" classname="Unit.Services.LocationServiceTest" assertions="7" time="0.002195"/>
        <testcase name="testFindLocationsByFacilityIdsWithEmptyInput" file="/var/www/html/tests/Unit/Services/LocationServiceTest.php" line="70" class="Unit\Services\LocationServiceTest" classname="Unit.Services.LocationServiceTest" assertions="3" time="0.002253"/>
      </testsuite>
      <testsuite name="Unit\Services\TagServiceTest" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" tests="6" assertions="22" errors="0" failures="0" skipped="0" time="0.036054">
        <testcase name="testCreateTagsWithNewAndExistingTags" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" line="33" class="Unit\Services\TagServiceTest" classname="Unit.Services.TagServiceTest" assertions="2" time="0.002365"/>
        <testcase name="testFindTagsByFacilityId" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" line="53" class="Unit\Services\TagServiceTest" classname="Unit.Services.TagServiceTest" assertions="3" time="0.002123"/>
        <testcase name="testFindTagsByFacilityIds" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" line="69" class="Unit\Services\TagServiceTest" classname="Unit.Services.TagServiceTest" assertions="6" time="0.001995"/>
        <testcase name="testUpdateFacilityTagsWithEmptyTags" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" line="91" class="Unit\Services\TagServiceTest" classname="Unit.Services.TagServiceTest" assertions="1" time="0.002105"/>
        <testcase name="testUpdateFacilityTagsWithNewTags" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" line="108" class="Unit\Services\TagServiceTest" classname="Unit.Services.TagServiceTest" assertions="5" time="0.024687"/>
        <testcase name="testCreateFacilityTags" file="/var/www/html/tests/Unit/Services/TagServiceTest.php" line="136" class="Unit\Services\TagServiceTest" classname="Unit.Services.TagServiceTest" assertions="5" time="0.002779"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
